{% load static %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='slim' %}
{{ form.media }}

<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Task Shower</title>
</head>

<body>
<h1 class="row justify-content-center">予定一覧</h1>

<div class="row justify-content-center">
    <ul class="nav nav-pills">
        <li class="nav-item">
            <a class="nav-link" href={% url "home" %}>ホーム</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href={% url "registration" %}>予定の登録</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">フレンドリスト</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Q&A</a>
        </li>
    </ul>
</div>

<div class="row justify-content-center">
    <div class="col-lg-8 col-md-10 col-sm-12">
        <div class="card mb-4 shadow-sm">
            <div class="card-body">
                {% block main %}{% endblock %}
            </div>
        </div>
    </div>
</div>
</body>
</html>