{% extends "base.html" %}
{% load static %}

{% block schedule %}
<table class='table table-striped'>
    <thead>
    <tr>
        <th scope="col">タグ</th>
        <th scope="col">タイトル</th>
        <th scope="col">場所</th>
        <th scope="col">日時</th>
        <th scope="col">あと何日</th>
    </tr>
    </thead>
    <tbody>
    {% for i in demoSchedule %}
    <tr>
        <td><a href= "#">{{ i.pk }}</a></td>
        <td>{{ i.title }}</td>
        <td>{{ i.field }}</td>
        <td>{{ i.date | date:"Y/n/j H:i"}}</td>
        <td>{{ i.delta }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}

