{% extends "base.html" %}
{% load static %}
{% load bootstrap4 %}
{% load compare_date %}

{% block main %}
    <button class="btn btn-secondary btn-sm" onclick="location.href='{% url "home" %}'">過去の予定</button>
    <table class='table table-striped list-group-item-dark'>
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">日付</th>
            <th scope="col">タイトル</th>
        </tr>
        </thead>
        <tbody>
        {% for i in schedules %}
            {% if i.date|is_previous %}
                <tr>
                    <td><a href="{% url "detail" i.pk %}">{{ i.pk }}</a></td>
                    <td>{{ i.date|date:"Y-n-j"}}</td>
                    <td>{{ i.summary }}</td>
                    <td></td>
                </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

